@use '../../../styles/constants/' as c;
@use '../../../styles/mixins' as m;


.body {
  width: 100%;
  @include m.flex(start, center, row);
  column-gap: 40px;
  background-color: c.$C_WHITE;
  height: 48px;
  color: c.$C_BLACK;
  
  .item {
    width: 100px;
    font-size: 16px;
    cursor: pointer;
    margin: 12px;
  }
  
}
.elements {
  @include m.flex(start, center, row);
  width: 100%;
  justify-content: space-between;
  .check {
    margin: 12px;
    border-radius: 4px;
  }
  >span {
    width: 240px;
    margin: 12px;
    border-radius: 4px;
  }

  .block {
    display: grid;
    grid-template-rows: repeat(2, minmax(20px,auto));
    grid-template-columns: repeat(2, minmax(120px, auto));
    align-content: center;
  }
}
