@use '../../../styles/mixins/' as m;
@use '../../../styles/constants/' as c;

.wrapper {
  @include m.flex(flex-start, flex-start, column);
  width: 100%;
  height: 100%;
  padding: 24px 0px;
  row-gap: 20px;
  padding-left: 28px; //임시
  box-sizing: border-box;
  overflow:hidden;

  > header {
    padding: 0 4px;
    // margin-top: 32px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 24px;
  }
}
.cardContainer {
  height: 100%;
  width: 100%;
  overflow-y: auto;

  > .container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-content: space-around;
    justify-items: center;
    row-gap: 20px;
  }
  >.offering{
    @include m.flex(center,center,column);
    width: 100%;
    height: 90%;
    font-size: 32px;
    row-gap: 40px;
    > svg{
      width: 100px;
      height: 100px;
    }
  }
}
.scrollButton {
  left: 500px;
  bottom: 500px;
}
