@use "../../../styles/mixins/" as m;
@use "../../../styles/constants/" as c;
.wrapper{
    @include m.flex(); 
    width: 100vw;
    height: calc(100vh - 80px);
    //padding: 24px 40px;
    padding: 24px;
    column-gap: 60px;
    .sectionWrapper{
        width: 30%;
        height: 96%;
        //background-color: c.$C_SECONDARY;
        > h1{
            @include m.flex(flex-start,column);
            width: 100%;
            font-size: 24px;
            //padding: 8px 0;
            height: 5%;
        }
        > article{
            width: 100%;
            height: 95%;
            background-color: c.$C_SECONDARY;
            overflow-y: auto;
        }
        .profileWrapper{
            @include m.flex(flex-start,center,column);
            overflow: hidden;
            row-gap: 120px;
            padding: 60px 20px;
            > div{
                width: 80%;
                > p{
                    @include m.flex(flex-start,flex-start,row);
                    width: 100%;
                    font-size: 20px;
                    &.nickname{
                        font-size: 36px;
                    }  
                    &:nth-of-type(2){
                        font-family: 'KIMM_Light';
                    }
                }
            }
            .profileInfo{
                @include m.flex(center,center,column);
                //width: 100%;
                height: 50%;
                row-gap: 40px;
                .profileIcon{
                    > svg{
                    width: 200px;
                    height: 200px;
                    }
                }
            }
            .preferredGenresInfo{
                @include m.flex(center,center,column);
                height: 40%;
                .preferredGenresWrapper{
                    width: 100%;
                    padding: 24px 0px;
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    row-gap: 12px;
                    > button {
                        cursor:auto;
                        &:hover{
                            filter: none;
                            box-shadow: none;
                        }
                    }
                }
                .lockWrapper{
                    @include m.flex(center,center,column);
                    width: 100%;
                    padding: 60px;
                    > svg{
                        width: 60px;
                        height: 80px;
                    }
                }


            }
            

        }
        .lockWrapper{
            @include m.flex(center,center,column);
            width: 100%;
            height: 100%;
            padding: 60px;
            > svg{
                width: 128px;
                height: 168px;
            }
        }
        .likesWrapper{
            @include m.flex(flex-start,flex-start,row);
            padding: 16px;            
            flex-wrap: wrap;
            column-gap: 8px;
            row-gap: 16px;
            .movie{
                border-radius: 4px;
                width: 124px;
                height: 152px;
                cursor: pointer;
                //pointer-events: none;
            }
        }
        .reviewsWrapper{
            @include m.flex(flex-start,center,column);
            //overflow-y: auto;
            //padding: 16px;
            .reviewInfo{
                @include m.flex();
                width: 100%;
                padding: 8px 12px;
                border-bottom: 1px solid c.$C_WHITE;
                cursor: pointer;
                > img{
                    border-radius: 4px;
                    width: 102px;
                    height: 136px;
                }
                .review{
                    width: calc(100% - 102px);
                    @include m.flex(center,center,column);
                    > div{
                        padding: 12px;
                        width: 100%;
                    }
                    .header{
                        @include m.flex(flex-start,center,row);
                        column-gap:20px;
                        > div {
                            @include m.flex(flex-start,flex-start,column);
                            row-gap: 4px;
                            > p{
                            font-size: 20px;
                            }
                        }
                    }
                    .content{
                       font-family: 'KIMM_Light';
                       font-size: 16px;
                       letter-spacing: 1px;
                       line-height: 1.1;
                    }
                    .function{
                        @include m.flex(space-between);
                        > span {
                            @include m.flex(flex-start);
                            column-gap: 8px;
                            > svg{
                                fill:c.$C_WHITE;
                            }
                        }
                    }
                    
                }
            }
        }

    }
    
}