@use "../../../styles/mixins/" as m;
@use "../../../styles/constants/" as c;
.wrapper{
    @include m.flex(); 
    width: 100vw;
    height: calc(100vh - 80px);
    //padding: 24px 40px;
    padding: 24px;
    column-gap: 60px;
    .sectionWrapper{
        width: 30%;
        height: 96%;
        //background-color: c.$C_SECONDARY;
        > h1{
            @include m.flex(flex-start,column);
            width: 100%;
            font-size: 24px;
            //padding: 8px 0;
            height: 5%;
        }
        > article{
            width: 100%;
            height: 95%;
            background-color: c.$C_SECONDARY;
            > div{
                width: 80%;
                
            }
        }
        .profileWrapper{
            @include m.flex(flex-start,center,column);
            row-gap: 120px;
            padding: 60px 20px;
            > div{
                > p{
                    @include m.flex(flex-start,flex-start,row);
                    width: 100%;
                    font-size: 20px;
                    &.nickname{
                        font-size: 36px;
                    }  
                    &:nth-of-type(2){
                        font-family: 'KIMM_Light';
                    }
                }
            }
            .profileInfo{
                @include m.flex(center,center,column);
                //width: 100%;
                height: 50%;
                row-gap: 40px;
                .profileIcon{
                    > svg{
                    width: 200px;
                    height: 200px;
                    }
                }
            }
            .preferredGenresInfo{
                @include m.flex(center,center,column);
                height: 40%;
                .preferredGenresWrapper{
                    width: 100%;
                    padding: 24px 0px;
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    row-gap: 12px;
                    > button {
                        cursor:auto;
                        &:hover{
                            filter: none;
                            box-shadow: none;
                        }
                    }
                }
                .lockWrapper{
                    @include m.flex(center,center,center);
                    width: 100%;
                    padding: 60px;
                }


            }
            

        }
    }
    
}