@use '../../../styles/mixins/' as m;
@use '../../../styles/constants/' as c;

.wrapper {
  width: 100%;
  height: 100%;
  padding: 24px 0px;
  row-gap: 20px;
  padding-left: 28px; //임시
  box-sizing: border-box;

  .section {
    width: 100%;
    height: 50%;
    overflow: hidden;
    padding: 0 0 10px 0;
    &:first-child {
      border-bottom: 3px solid c.$C_PRIMARY;
    }

    header {
      padding: 0 4px;
      padding: 32px 0 8px 0;
      display: flex;
      width: 100%;
      justify-content: space-between;
      font-size: 24px;
    }
    > p {
      text-align: right;
      font-size: 16px;
      padding: 4px 0 12px;
    }
  }
}
.cardContainer {
  height: 100%;
  width: 100%;
  //overflow-y: scroll;
  overflow: hidden;


  > .container {
    //width: 100%;

    //display: grid;
    //grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    //justify-items: center;
    //row-gap: 20px;
    //gap: 20px;
    width: 100%;
    display: flex;
    column-gap: 20px;
    flex-wrap: nowrap; 
    overflow-x: scroll; 
    overflow-y: hidden; 
    > div{
      flex: 0 0 auto; 
    }
    
  }
}
