@use '../../../styles/mixins/' as m;
@use '../../../styles/constants/' as c;

.pagenation {
  @include m.flex();
  width: 100%;
  > button {
    @include m.flex();
    margin: 8px;
    height: 40px;
    width: 40px;
    background-color: c.$C_WHITE;
    border: 1px solid c.$C_DARKGRAY;
    cursor: pointer;
  }
  .move {
    font-size: 24px;
    padding-top: 4px;
  }
  .pages {
    > button {
      font-size: 16px;
      width: 40px;
      height: 40px;
      background-color: c.$C_WHITE;
      border: 1px solid c.$C_DARKGRAY;
      cursor: pointer;
    }
    .active {
      background-color: c.$C_SECONDARY;
      color: c.$C_WHITE;
    }
  }
}