@use '../../../styles/constants/' as c;

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black; //임시
  .backGround{
    background-color: c.$C_BLACK;
    margin: 0px auto;
    width: 100%;
    height: 100%;
    img{
        width: 100%;
        height: 100%;
        image-rendering:-webkit-optimize-contrast;
        transform:translateZ(0);
        backface-visibility:hidden; 
    }
}
  > section {
    position:absolute;
    background: c.$C_WHITE;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    box-shadow: c.$C_SHADOW;

    width: 1040px;
    height: 600px;

    border-radius: 16px;

    .formContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 604px;
      height: 100%;

      > h1 {
        margin-top: 64px;
        margin-bottom: 64px;
        font-size: 48px;
        color: c.$C_PRIMARY;
        text-align: center;
      }

      > button {
        // margin-top: 88px;
        position: absolute;
        bottom: 80px;
        cursor: pointer;
      }
    }
    .overlayContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 436px;
      height: 100%;
      background: c.$C_PRIMARY;
      border-radius: 0 16px 16px 0;
      color: c.$C_WHITE;
      padding-top: 100px;
      > h1 {
        font-size: 48px;
        line-height: 1.3;
      }
      > p {
        padding-top: 32px;
        padding-bottom: 65px;
        font-size: 28px;
        line-height: 1.7;
      }
    }
  }
}

.loginForm {
  width: 100%;
  height: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .inputWrapper + .inputWrapper {
    margin-top: 50px;
  }
  .inputWrapper > input {
    font-family: 'Courier New', Courier, monospace;
  }
}
