@use "../../../styles/mixins/" as m;
@use "../../../styles/constants/" as c;

.wrapper {
  @include m.flex(flex-start,flex-start,column);  
  width: 100%;
  padding: 24px 0px;
  row-gap: 20px;
  > span{
    @include m.flex(flex-end,flex-end,row); 
    width: 85%;
    height: 15%; 
  }
  .profileContainer,.genreContainer{
    padding: 32px 48px;
    width: 85%;
    //width: 1000px;
    background-color:transparent;
    border-radius: 8px;
    > h1{
      width: 100%;
      font-size: 24px;
    }
    
  }
  .profileContainer {
    @include m.flex(flex-start,flex-start,column); 
    row-gap: 8px;
    border: 2px solid c.$C_PRIMARY;
    height: 460px;
    .profileInfo{
      @include m.flex(center,center,row);
      width: 90%;
      height: 85%;
      column-gap: 60px;
      .profileWrapper{
        @include m.flex(center,center,column);
        width: 45%;
        height: 90%;
        row-gap: 32px;
          .iconsWrapper{
          
            .modifyIcon{
              z-index: 20;
              position:relative;  
              top:75px;
              right: -65px;
              > svg{
                width: 100px;
                height: 100px;
                }
            }
            .profileIcon{
              //cursor: pointer;
              > svg{
              width: 140px;
              height: 140px;
              }
            }
            .overlay{
              position:relative;  
              background-color:transparent;
              z-index: 10;
              top: -141px;
              right: -0px;
              
              &:hover{
                background-color: c.$C_BLACK_MODAL;
                > svg {
                  width: 140px;
                  height: 140px;
                  > circle{
                    fill:c.$C_BLACK_MODAL;
                  }
                  }
              }
           
            }
          }
 
          > textarea{
            width: 340px;
            height: 140px;
            font-size: 20px;
          }
      }
      .inputsWrapper{
        @include m.flex(center,center,column);
        width: 45%;
        height: 90%;
        padding-top: 36px;
        //row-gap: 12px;
        > textarea {
          width: 520px;
        }
        .input {
          > p{
            color: c.$C_WHITE;
          }
          > input{
            color: c.$C_BLACK;
            font-family: 'Courier New', Courier, monospace;
          }
        }
      }
    }
    
  }
  .genreContainer {
    border: 2px solid c.$C_WHITE;  
    height: 260px;  
    > h1{
      @include m.flex(space-between);
    }
    .tagsWrapper{
      width: 90%;
      padding: 32px 0;
      display: grid;
      grid-template-columns: repeat(6,1fr);
      row-gap: 16px;
    }
  }
}
.div {
  font-size:200px;
}



.sideIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
 

.Icon {
  width: 300px;
  height: 300px;
}

.textInput {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  
}


.buttonTag {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  flex-wrap: wrap;
  
}