@use "../../../../../styles/mixins/" as m;
@use "../../../../../styles/constants/" as c;
.button{
   @include m.flex();
   column-gap: 8px;
   background: none;
   border: none;
   font-size: 16px;
   color:c.$C_WHITE;
   > svg {
    width: 20px;
    height:20px;
   }
   .label{
      font-size: 16px;
      color:c.$C_WHITE;
      letter-spacing: 1px;
   }
   cursor: pointer;
   
}