@use '../../../styles/constants/' as c;

.tag {
  box-sizing: border-box;
  background-color: c.$C_PRIMARY;
  color: c.$C_WHITE;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 120px;
  font-size: 16px;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    filter: brightness(1.1);
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 50px 0px;
  }

  &.border {
    box-sizing: border-box;
    border: 3px solid c.$C_PRIMARY;
    color: c.$C_PRIMARY;
    background: none;
    width: 100px;
    height: 40px;
  }

  &.middle {
    width: 140px;
    height: 56px;
    font-size: 20px;
    border-radius: 120px;
  }

  &.big {
    width: 160px;
    height: 60px;
    font-size: 24px;
    border-radius: 120px;
    border-width: 2px;
  }

  &.active {
    background-color: c.$C_PRIMARY;
    color: c.$C_WHITE;
    border: none;
  }
}
