@use "../../../styles/constants/" as c;
@use "../../../styles/mixins/" as m;
.wrapper {
  @include m.flex();
  column-gap: 8px;
  padding: 28px 0;
  .ulWrapper {
    @include m.flex(flex-start);
    column-gap: 40px; 
    width: 1712px;
    overflow: hidden;
    //NOTE: Feedback - width 조절해서 페이지 전체가 좌우 스크롤이 되지 않도록
    //width: calc(100vw - 96px); -> 이렇게하니 버튼이 맨끝으로감 ㅠ
    //overflow-x: scroll;
    .movie {
      float: left;
      &.top10 {
        margin-left: 50px;
        position: relative;
        .rankingWrapper {
          position: absolute;
          z-index: 10;
          top: 176px;
          left: -70px;
          font-size: 212px;
          color: c.$C_WHITE_50;
          //text-shadow: -1px 0 c.$C_GRAY, 0 1px c.$C_GRAY , 1px 0 c.$C_GRAY, 0 -1px c.$C_GRAY;
          pointer-events: none;
        
        }
        .first{
          top: 180px;
          left: -70px;
          font-size: 260px;
        }
      }
     
    }
  }
  > svg {
    cursor: pointer;
    width: 40px;
    height: 40px;
    > path {
      fill: c.$C_WHITE;
    }
    z-index: c.$Z_CAROUSELARROW;
  }
  .prevBtn {
    transform: rotate(90deg);
  }
  .nextBtn {
    transform: rotate(270deg);
  }
}
