@use "../../../styles/constants/colors" as c;
@use "../../../styles/mixins/" as m;

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;

    .allSection {
        width: 100%;
        padding-left: 16px;
        margin: 20px 52px 0 0;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        .header{
            @include m.flex(flex-end,center,row);
            width: 100%;
        }
        .topMenu {
            background-color: c.$C_CARD_MENU;
            height: 80px;
            column-gap: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .menuLeft {
                display: flex;
                column-gap: 36px;
                align-items: center;
            }

            .check {
                margin-left: 12px;
                border-radius: 4px;
            }

            .menuRight {
                // width: 800px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                column-gap: 20px;
                font-size: 20px;
                
                .searchBox {
                    @include m.flex();
                    width: 640px;

                    > input {
                        height: 52px;
                        width: 100%;
                        margin-right: 20px;
                        border: none;
                        background-color: c.$C_WHITE_50;
                    }

                    > button {
                        width: 60px;
                        height: 52px;
                        border: none;
                        background-color: c.$C_WHITE_50;
                    }
                }
            }
        }
    
        .secondMenu {
            height: 60px;
            background-color: c.$C_SECONDARY;
            display: flex;
            align-items: center;
            // justify-content: space-around;
            // color: c.$C_WHITE;
        }
    
        .table {
    
        }
    }
}

> span {
}
.data {
    padding-right: 8px;
}