$C_PRIMARY : #89CFFD;
$C_PRIMARY_80 : rgba(137, 207, 253,0.8);

$C_PRIMARYLIGHT : rgba($C_PRIMARY, 0.7) ;

$C_SECONDARY : #263959;

$C_WHITE : #FFFFFF;
$C_WHITE_50 : rgba(255,255,255,0.70);

$C_BLACK : #000000;
$C_BLACK_MODAL : rgba(0,0,0,0.5);

$C_RED : #ED0000;

$C_DARKGRAY:#9E9E9E;
$C_GRAY : #E4E3E3;

$C_LIGHTGRAY : #FBFBFB;

$C_YELLOW : #FCE22A;

$C_CARD_BG:#1f2123;

$C_CARD_MENU:#D9D9D9;

$C_SHADOW:rgba(255, 255, 255, 0.5) 0px 0px 50px 0px;

$C_PINK:rgb(228,83,191);