$C_PRIMARY : #89CFFD;

$C_PRIMARYLIGHT : rgba($C_PRIMARY, 0.7) ;

$C_SECONDARY : #263959;

$C_WHITE : #FFFFFF;

$C_BLACK : #000000;

$C_RED : #ED0000;

$C_GRAY : #E4E3E3;

$C_LIGHTGRAY : #FBFBFB;

$C_YELLOW : #FCE22A;
