@use "../../../styles/mixins" as m;
.wrapper{
    //display: flex;
    //align-items: center;
    //@include m.flex();
    //width: 100%;
    //margin: 100px 0 0 15px;
    .star_icon {
      display: inline-flex;
      margin-right: 5px;
      &:hover{
        cursor: pointer;
      }
    }
}

