$C_PRIMARY: #89cffd;
$C_PRIMARY_80: rgba(137, 207, 253, 0.8);

$C_PRIMARYLIGHT: rgba($C_PRIMARY, 0.7);

$C_SECONDARY: #263959;

$C_WHITE: #ffffff;
$C_WHITE_50: rgba(255, 255, 255, 0.7);

$C_BLACK: #000000;
$C_BLACK_MODAL: rgba(0, 0, 0, 0.5);

$C_RED: #ed0000;

$C_DARKGRAY: #9e9e9e;
$C_GRAY: #e4e3e3;

$C_LIGHTGRAY: #fbfbfb;

$C_YELLOW: #fce22a;

$C_CARD_BG: #1f2123;

$C_CARD_MENU: #d9d9d9;

$C_SHADOW: rgba(255, 255, 255, 0.5) 0px 0px 50px 0px;

$C_PINK: rgb(228, 83, 191);
