@use "../../../styles/mixins/" as m;
@use "../../../styles/constants/" as c;
.reviewWrapper{
    @include m.flex(flex-start,flex-start,column);
    row-gap: 44px;
    padding: 20px 0;
    width: 100%;
    height: 100%;
    >.score{
        height: 30%;
        >input{
            width: 80px;
            height: 40px;
            background-color:transparent;
            border: 1px solid c.$C_BLACK;
        }
    }
    >.review{
        height: 50%;
        > label >p{
            font-size: 20px;
            padding: 8px 0;
        }
        > textarea{
            width: 320px;
            height: 140px;
            border: 1px solid c.$C_BLACK;
            font-size: 20px;
            font-family: 'KIMM_Light';
        }
    }
  
    .button{
        height: 20%;
        @include m.flex(flex-end);
        width: 100%;
    }
   
}
.userWrapper{
    @include m.flex(flex-start,flex-start,column);
    width: 100%;
    height: 100%;
    //overflow-y: scroll ;
    >.userInput{
        >input{
            width: 348px;
            height: 40px;
            background-color:transparent;
            border: 1px solid c.$C_BLACK;
        }
    }
    .button{
        height: 20%;
        @include m.flex(flex-end);
        width: 100%;
    }
}