@font-face { 
  font-family: 'KIMM_Bold'; 
  src: url('./fonts/한국기계연구원_bold.ttf') format('woff2'); 
  font-weight: 700;
  font-style: normal; 
};

@font-face { 
  font-family: 'KIMM_Light'; 
  src: url('./fonts/한국기계연구원_Light.ttf') format('woff2'); 
  font-weight: 400;
  font-style: normal;
};