@use "../../../styles/mixins/" as m;
@use "../../../styles/constants/" as c;


.mainContainer {
  @include m.flex(center,center,column);  
  row-gap: 24px;
  width: 100%;
  //height: calc(100vh + 160px); 
  height: 100%;
  padding-top: 60px;
  //max-width: 800px;
  margin: 0 auto;
  //margin-top: 36px;

  h1 {
    width: 100%;
    height: 5%;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .mainInput {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    input {
      margin-right: 0.5rem;
    }

    .sideButton {
      display: flex;
      align-items: center;
      
      button {
        margin-left: 1rem;
      }
    }
  }

  h2 {
    width: 100%;
    height: 5%;
    font-size: 1.5rem;
    font-weight: bold;
    //margin-bottom: 1rem;
    
  }
  li{
    width: 100%;
    color: c.$C_SECONDARY;
    padding: 1rem;
    .thtitle{
      @include m.flex(center,center,row);  
      width: 100%;
      height: 50px;
      background-color: c.$C_SECONDARY;
      color:c.$C_WHITE;
      padding: 16px 8px;
    }
  }
  .accordionWrapper {
    @include m.flex(center,center,column);
    row-gap: 4px;
    width: 100%;
    height: 80%;
    overflow-y:scroll;
    margin: 0;
    padding: 0;
    list-style: none;
 
    
    li {

      color: c.$C_SECONDARY;
      padding: 1rem;
    
      .title {
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: space-between;

        .icon {
          margin-left: 0.5rem;
        }
      }

      .content {
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 0.5rem;
      }
    }
  }
}

//문의내역 예시 
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  
  
  th,
  td {
    padding: 12px;
    text-align: left;
    border: 1px solid #fff;
  }
  
  th {
    background-color: #000;
    font-weight: bold;
    font-size: 16px;
  }
  
  tr {
    &:nth-child(even) {
      background-color: #fff;
    }
    
    &:hover {
      background-color: #000;
    }
  }
}


// FAQModal 관련 SCSS
.inputGroup {
  margin-bottom: 1.5rem;

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    font-weight: bold;
  }

  input,
  textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #d9d9d9;
    border-radius: 0.25rem;
    outline: none;

    &:focus {
      border-color: #1890ff;
      box-shadow: 0 0 0 0.125rem rgba(24, 144, 255, 0.25);
    }
  }
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;

  button {
    margin-left: 0.5rem;
  }
}