@use "../../../../styles/constants/colors" as c;
@use "../../../../styles/mixins/" as m;



//문의내역 예시 
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
  
  
  th,
  td {
    padding: 12px;
    text-align: left;
    
    border-left: none;
    border-right: none;
  }
  
  th {
    background-color: c.$C_SECONDARY;
    font-weight: bold;
    font-size: 16px;
  }

  tr {
      background-color: c.$C_WHITE_50; 
      
}
}

.faqTableBody {
  max-height :300px;
  overflow: hidden;
  overflow-y: auto;
  color: #000;
  border: 1px solid c.$C_SECONDARY;
  
}
  

.sectionFaq {
  overflow-y: auto;
  height: 600px;
}

.faqQuestion {
  display: block;
}

.faqAnswer {
  display: block;
  margin-top: 16px;
  display: flex;
  justify-content: center;
}



.questionRow {
  cursor: pointer;
  margin: 24px;
  background-color: c.$C_WHITE_50;
  border: 1.2px solid c.$C_SECONDARY;
  
  &:hover {
    background-color: c.$C_GRAY;
  }
}

.Answer {
  color: #000;
  background-color: c.$C_WHITE_50;
  
  
}



.tableHr {
  border-top: 2px dashed c.$C_SECONDARY;
  width: 90%;
  align-content: center;
  margin-left: 5%;
}

// FAQModal 관련 SCSS
.faqListTitle {
  color: #000;
  margin: 32px 0 24px 0;
}
.inputGroup {
  margin-bottom: 1.5rem;

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    font-weight: bold;
  }

  input,
  textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #d9d9d9;
    border-radius: 0.25rem;
    outline: none;

    &:focus {
      border-color: #1890ff;
      box-shadow: 0 0 0 0.125rem rgba(24, 144, 255, 0.25);
    }
  }
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;

  button {
    margin-left: 0.5rem;
  }
}


.questionDetail {
  display: block;
  line-height: 36px;
}

