@use '../../../styles/constants/' as c;

.searchbox {
  display: flex;
  width: 400px;
  height: 52px;
  margin-top: 12px;

  > button {
    border: none;
    background-color: c.$C_GRAY;
    .icon {
      margin: 12px;
      height: 20px;
      width: 20px;
    }
  }
  .input {
    border: none;
    background-color: c.$C_GRAY;
    width: 100%;
    font-size: 16px;
    font-family: 'KIMM_Light';
  }
}
