@use '../../styles/constants/' as c;
@use '../../styles/mixins/' as m;

.wrapper {
  @include m.flex(flex-start, center, column);
  width: 100%;
  //height: 100%;
  padding: 48px;
  row-gap:40px;
  overflow-y: auto;
  .carouselWrapper{
    @include m.flex();
    width: 100%;
  }
  .top10Wrapper {
    @include m.flex(flex-start, flex-start, column);
    width: 100%;
    height: 460px;
    //padding:10px 0;
  }
  .rcmdWrapper {
    @include m.flex(center, flex-start, column);
    width: 100%;
    height: 480px;
    >.header{
      height: 100px;
      cursor: pointer;
    }
  }
  .genreWrapper {
    width: 100%;
    min-height: 460px;

    .nav {
      @include m.flex(center);
      margin: 20px 0 20px;
      button {
        margin: 0 20px 0 0;
      }
    }
  }
  .header {
    font-size: 40px;
    @include m.flex(space-between);
    
    &:hover{
      .show{
        opacity: 1;
        background: linear-gradient(180deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        transition:  opacity 0.3s ease-in;
      }
    }
    .description{
      background: linear-gradient(180deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
      transition:  opacity 0.3s ease-in-out;
      opacity: 0;
      height: 56px;
      margin-left: 12px;
      font-family: 'KIMM_Light';
      position: relative;
      padding: 8px;
      font-size: 16px;
      top:-16px;  
      z-index: 5;
      background-color: c.$C_WHITE;
      color: c.$C_BLACK;
      border-radius: 4px;
      >span,p{
        letter-spacing:0.5px;
        line-height: 1.2; 
      }
      
    }
    
  }
  
}

.genreMovies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-content: space-around;
  justify-items: center;
  row-gap: 20px;
}

.alert {
  position: fixed;
  left: 8px;
  bottom: 8px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 4px;
  height: 52px;
  background: c.$C_WHITE;
  color: c.$C_BLACK;
  animation: fadein 3s;
  opacity: 0;

  @keyframes fadein {
    /* 효과를 동작시간 동안 0 ~ 1까지 */
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
