@use '../../../styles/constants/' as c;
@use '../../../styles/mixins/' as m;
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: c.$Z_OVERLAY;
  overflow: hidden;
  //NOTE: z-index : -1 => 양수로 바꾸면 body부분에 scroll을 방지할 수 있다.
  width: 100vw;
  height: 100vh;
  background-color: c.$C_BLACK_MODAL;
}
.wrapper {

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  //NOTE: header보다 높은 z-index
  z-index: c.$Z_MODAL;

  .modalWrapper {
    @include m.flex(center, center, column);

    padding: 24px;
    background-color: c.$C_WHITE;
    border-radius: 12px;
    overflow: hidden;

    .closeButtonWrapper {
      width: 100%;
      height: 4%;
      @include m.flex(flex-end);
      cursor: pointer;
    }
    .contentWrapper {
      width: 100%;
      height: 96%;
      //padding: ;
    }
  }
}

.big {
  width: 1080px;
  height: 720px;
}
.small {
  width: 500px;
  height: 500px;
}
//modalSize  - small, Big
