@use "../../../styles/constants/colors" as c;

.accordion {
  background-color: #263959;

  &__title {
      padding: 1rem 0.5rem;
      font-weight: 600;
      font-size: 1.2rem;
      cursor: pointer;
      color: #fff;

      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  &__icon {
    transform: rotate(0);
    transition: transform 0.3s ease-in-out;
      
  }

  &.active &__icon {
     
    transform: rotate(180deg);
  }

  &__content {
      padding: 0 0.5rem;
      max-height: 0;
      overflow: hidden;
      transition: 0.4s ease-in-out;
      background-color: #fff;
  }

  &.active &__content {
      padding: 1.5rem 0.5rem;
      max-height: 9em;
  }
}