@use "../../../styles/constants/" as c;
  
  .main {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
  }
  
  h1 {
    margin: 10px;
    font-size: 40px;
    color: rgb(255, 255, 255);
  }
  
  .accordion {
    margin: 30px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .accordion__item {
    width: 40%;
    max-height: 25px;
    padding: 17px 10px;
    border-bottom: 1px solid #c9c9c9;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
  }
  
  .accordion__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    h4 {
      transition: 0.2s ease-in-out;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 10px;
    }
  
    i {
      transition: 0.2s ease-in-out;
      transform-origin: center;
      margin-bottom: 10px;
    }
  
    &:hover {
      h4 {
        color: #10d6f5 !important;
      }
  
      i {
        color: #10d6f5;
      }
    }
  }
  
  .accordion__content {
    margin: 5px;
  }
  
  @media (max-width: 600px) {
    h1 {
      font-size: 30px;
    }
  
    .accordion__item {
      width: 80%;
    }
  }