@use '../../../styles/constants/' as c;

.lnb {
  width: 280px;
  background-color: c.$C_SECONDARY;
  color: c.$C_WHITE;
  height: 100%;

  //NOTE: AdminLNB width를 유지하게 만들기
  flex-shrink: 0;
}

.menu {
  position: relative;
  top: 60px;
  .example {
    display: flex;
    width: 100%;
    // justify-content: center;
    padding: 40px;
    color: c.$C_WHITE;
    > span {
      cursor: pointer;
      &:hover {
        transform: scale(1.3);
        transition: transform 0.3s;
      }
    }
  }
  .current{
    > span{
      //transform: scale(1.5);
      font-size: 24px;
    }
  }
}
