@use "../../../styles/constants/colors" as c;

.wrapper {
    position: relative;
    width: 60px;
    height: 28px;
    cursor: pointer;
    background-color: c.$C_GRAY;
    border-radius: 40px;
    display: flex;
    align-items: center;

    .letter1 {
        color: c.$C_WHITE;
        font-size: 12px;
        padding-left: 8px;
        text-align: left;
        display: none;
    }

    .letter2 {
        color: c.$C_WHITE;
        font-size: 12px;
        padding-right: 4px;
        margin-left: auto;
        display: none;
    }

    .button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        left: 2px;
        background-color: c.$C_WHITE;
        transition: left 0.3s ease-in;
    }

    &:has(input:checked) {
        background-color: c.$C_PRIMARY;

        .letter1 {
            display: block;
        }

        .button {
            left: calc(100% - 2px - 25px);
            background-color: c.$C_WHITE;
        }
    }

    &:has(input:not(:checked)) {
        .letter2 {
            display: block;
        }
    }
}

