@use "../../../styles/mixins/" as m;

.layout{
    padding-top: 108px; 
    //overflow:scroll;
}
.main{
    min-height: calc(100vh - 180px);
    
}
.sectionWrapper{
    
    //@include m.flex(center,flex-start,column);
    //row-gap: 140px;
    height:300%;
    width: 100%;
}