@use "../../../styles/constants/" as c;

.testimonialBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.testimonialBox {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;

  //NOTE: css 방식의 선택자 사용 -> SCSS 방식의 선택자 사용
  &:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
  }
}

.profileimg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;

  > div {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.profile {
  display: flex;
  align-items: center;
}

.name-user {
  display: flex;
  flex-direction: column;

  > strong {
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
  }
  > span {
    color: #979797;
    font-size: 0.8rem;
  }
}

.reviews {
  color: #f9d71c;
}

.boxTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.clientcomment {
  font-size: 0.9rem;
  color: #202020;
}
