@use "../../../styles/constants/" as c;
@use "../../../styles/mixins/" as m;

.wrapper{
  width: 528px;
  height: 248px;
  &:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
  }
  .blind{
    position:absolute;
    width: 528px;
    height: 248px;
    background-color: c.$C_GRAY;
    z-index: c.$Z_REVIEWCARD;
    opacity: 0.6;
    pointer-events: none;
  }
  .cardWrapper{
    @include m.flex(center,center,column);
    //width: 528px;
    //height: 248px;
    width: 100%;
    height: 100%;
    padding:12px;
    background-color: c.$C_WHITE;
    box-shadow: 1px 1px 30px c.$C_BLACK_MODAL;
    cursor: pointer;
    &.blind{
      background-color: c.$C_GRAY;
    }
    > div {
      width: 100%;
      background-color: transparent;
      border: none;
    

    }
    .infoWrapper{
      @include m.flex(center,center,row);
      height: 32%;
      .profileIcon{
        @include m.flex(flex-start,left,column);
        width: 15%;
        height: 100%;
      }
      .rateNicknameWrapper{
        @include m.flex(flex-start,left,column);
        width: 75%;
        height: 100%;
        .scoreWrapper{

        }
        .nickname{
          font-size:24px;
          letter-spacing:0.5px;
          //color:c.$C_BLACK_MODAL;
          > span:first-of-type{
            font-size: 24px;
            color:c.$C_BLACK_MODAL;
          }
          > span:last-of-type{
            font-size: 16px;
            color:c.$C_DARKGRAY;
          }
        }
      }
      .eyeIcon{
        //@include m.flex(center,center,column);
        width: 10%;
        position: relative;
        top:4px;
        right: -24px;
        width: 10%;
        height: 100%;
      }
  
    }
    .contentWrapper{
      padding:8px;
     height: 53%;
     color:c.$C_CARD_BG;
    }
    .detailsWrapper{
      @include m.flex(space-between);
      height: 15%;
      padding:8px; 
      > span {
        //padding:8px;
        color:c.$C_CARD_BG;
      }
    }
  }
  
}
