@use "../../../../styles/constants/" as c;
@use "../../../../styles/mixins/" as m;
.wrapper {
  @include m.flex();
  column-gap: 8px;
  padding: 28px 0;
  overflow: hidden;
  .ulWrapper {
    @include m.flex(flex-start);
    column-gap: 28px; 
    width: 1084px;
    height: 100%;
    //NOTE: Feedback - width 조절해서 페이지 전체가 좌우 스크롤이 되지 않도록
    //width: calc(100vw - 96px); -> 이렇게하니 버튼이 맨끝으로감 ㅠ
    //overflow-x: scroll;
    .review {
      float: left;
      }
     .odd{
      margin-right: calc(1920px - 1084px - 28px);
     }
  }
  > svg {
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    > path {
      fill: c.$C_GRAY;
    }
    z-index: c.$Z_CAROUSELARROW;
    
  }
  .prevBtn {
    transform: rotate(90deg);
  }
  .nextBtn {
    transform: rotate(270deg);
  } 

 
}
