@use "../../../../styles/constants/" as c;
@use "../../../../styles/mixins/" as m;
.wrapper {
  @include m.flex();
  column-gap: 4px;
  padding: 28px 0;
  .ulWrapper {
    @include m.flex(flex-start);
    column-gap: 40px; 
    width: 2056px;
    //NOTE: Feedback - width 조절해서 페이지 전체가 좌우 스크롤이 되지 않도록
    //width: calc(100vw - 96px); -> 이렇게하니 버튼이 맨끝으로감 ㅠ
    //overflow-x: scroll;
  }
  > svg {
    cursor: pointer;
  }
  .clicked{
    width: 12px;
    height: 12px;
    > svg {fill:c.$C_PRIMARY;}
  }
}
