@use "../../../styles/constants/" as c;
@use "../../../styles/mixins/" as m;

.wrapper {
  @include m.flex(space-between, flex-start, row);
  //header 상단에 고정
  position: fixed;
  top: 0;
  left: 0;
  z-index: c.$Z_HEADER;
  //right: 0;
  width: 100%;
  height: 80px;
  background-color: c.$C_SECONDARY;
  padding: 20px;

  .logo {
    @include m.flex(center, center, column);
    width: 200px;
    height: 100%;
    //padding: 20px;
    cursor: pointer;
    > h1 {
      //margin-left: 12px;
      font-size: 32px;
      color: c.$C_PRIMARY;
    }
  }

  .navWrapper {
    @include m.flex();
    height: 100%;
    column-gap: 20px;
    //padding: 20px;
    .movieButton {
      font-size: 28px;
      color: c.$C_WHITE;
    }
    .searchBox {
      width: 400px;
      //margin-bottom: 10px;
      .search {
        @include m.flex();
        width: 100%;
        > input {
          height: 48px;
          width: 100%;
        }
        > button {
          width: 60px;
          height: 48px;
        }
      }
    }
    .profileIcon {
      //width: 140px;
    }
  }
}
