.main {
  margin: 0;
  padding: 0;
}
.div {
  font-size:200px;
}

.profile {
  border: 10px solid black;
  border-radius: 20px;
  width: 70%;
  height: 500px;


}
.tag {

  border: 10px solid black;
  border-radius: 20px;
  width: 70%;
  height: 500px;
  
  
  
}