@use "../../../styles/constants/" as c;
@use "../../../styles/mixins/" as m;
.main{
    @include m.flex(center,flex-start,row);
    //column-gap: 100px;
    background-color: c.$C_BLACK;
    color:c.$C_WHITE;
    column-gap: 100px;
    .sectionWrapper{
        //overflow-y: auto;
        width: 70%; 
        //height: calc((100vh - 80px)*2);
        //Lnb가 같이 안내려가서 일단 위에거 주석처리함
        height:calc(100vh - 80px);
    }
    
    
}

