@use '../../../styles/constants/' as c;
@use '../../../styles/mixins/' as m;

.login {
  @include m.flex(center,center,column);
}

.wrapper {
  display: flex;
  height: 100vh;
}

.table {
  display: flex;
  flex-direction: column;
  margin: 72px 60px;
  width: 100%;
  row-gap: 20px;
}