@use "../../../styles/mixins/" as m;
@use "../../../styles/constants/" as c;


.mainContainer {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 36px;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .mainInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    input {
      margin-right: 0.5rem;
    }

    .sideButton {
      display: flex;
      align-items: center;
      
      button {
        margin-left: 1rem;
      }
    }
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    
  }

  .accordionWrapper {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      
      padding: 1rem;

      .title {
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: space-between;

        .icon {
          margin-left: 0.5rem;
        }
      }

      .content {
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 0.5rem;
      }
    }
  }
}