@use "../../../styles/mixins/" as m;
@use "../../../styles/constants/" as c;


.mainContainer {
  margin: 34px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainInput {
  display: flex;
  justify-content: space-between;
  
}

.accordionWrapper {
  padding: 72px;
}
